#new-booking {
    display: none;
}

#new-booking.visible{
    display: block;
}

#add-booking-button.visible{
    display: block;
}

#add-booking-button{
    display: none;
}

#court-list {
    display: none;
}

#court-list.visible {
    display: block;
}

#price-list {
    display: none;
}

#price-list.visible {
    display: block;
}

#confirm-booking-button {
    display: none;
}

#confirm-booking-button.visible {
    display: block;
}